<div>
  <form (ngSubmit)="onSubmit()" class="example-form">
    <mat-grid-list cols="2" rowHeight="2:1">
      <app-titleinput
        [titlez]="product.title"
        (sendTitletoParent)="onCatch($event)"
      >
        <!-- <h1 first>first</h1>
        <h1 second>second</h1> -->
      </app-titleinput>
      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input
            type="text"
            id="description"
            name="description"
            matInput
            [(ngModel)]="product.description"
            #description
            placeholder="Enter desciption"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('description') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid description
          </mat-error></mat-form-field
        ></mat-grid-tile
      >
      <mat-grid-tile>
        <mat-form-field class="example-full-width"
          ><input
            type="number"
            id="price"
            name="price"
            matInput
            [(ngModel)]="product.price"
            #price
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('price') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid price
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <ngx-dropzone
      accept="image/jpeg,image/jpg,image/png"
      (change)="onSelect($event)"
      [multiple]="true"
      class=""
      [disableClick]="imageUploading"
    >
      <ngx-dropzone-label>Drop Product images</ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngFor="let image of images"
        [removable]="true"
        (removed)="onRemove(image)"
      >
        <ngx-dropzone-label
          >{{ image.name }} ({{ image.type }})</ngx-dropzone-label
        >
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div style="display: flex">
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngFor="let image of images"
        [file]="image"
      />
    </div>
    <button
      style="border: none"
      class="submit_btn"
      type="submit"
      [disabled]="isSubmitting"
      mat-flat-button
      color="primary"
    >
      Primary
    </button>
  </form>

  <app-add-product-form></app-add-product-form>
</div>
