<style></style>

<!-- <div class="toolbar" role="banner">
  {{ title }}
  <div class="container">
    <app-todos></app-todos>
  </div>
</div> -->

<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About Component</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
