<style></style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <div *ngIf="!a">
        <li class="nav-item">
          <a
            routerLink="/login"
            class="nav-link"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/signup"
            class="nav-link"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Sign up</a
          >
        </li>
      </div>
      <div else class="nav-item d-flex">
        <a
          routerLink="/add-product"
          class="nav-link"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Add Product</a
        >
        <a
          routerLink="/"
          class="nav-link"
          (click)="logout()"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Logout</a
        >
      </div>
    </ul>
    <button
      style="border: none"
      class="submit_btn"
      type="submit"
      mat-flat-button
      color="primary"
    >
      Primary
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
